
@{
    ViewBag.Title = "add_user";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Trang chủ</a>
                </li>

                <li>
                    <a href="#">Cấu hình Users</a>
                </li>
                <li class="active">Thêm Users</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">


            <div class="page-header">
                <h1>
                    Cấu hình Users
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Thêm Users
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Tên đăng nhập: </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="Vui lòng nhập tên đăng nhập" class="col-xs-10" />
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">Tên của bạn :</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1-1" placeholder="Vui lòng nhập của bạn" class="col-xs-10" />
                            </div>
                        </div>
                        <div class="space-4"></div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Nhập Email :</label>

                            <div class="col-sm-9">
                                <input type="email" id="form-field-2" placeholder="Vui lòng nhập email" class="col-xs-10" />

                            </div>

                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Nhập Mật khẩu :</label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-3" placeholder="Vui lòng nhập mật khẩu" class="col-xs-10" />

                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Nhập lại mật khẩu :</label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-" placeholder="Vui lòng nhập lại mật khẩu" class="col-xs-10" />

                            </div>
                        </div>

                        <div class="space-4"></div>


                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Nhập số điện thoại :</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-10" placeholder="Vui lòng nhập số điện thoại" class="col-xs-10" />

                            </div>
                        </div>






                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Quyền:</label>

                            <div class="col-sm-9">
                                <!--											<input list="html" />-->
                                <!--											<datalist id="html">-->
                                <!--												<option value="Admin"></option>-->
                                <!--												<option value="Nhân viên"></option>-->
                                <!--												<option value="Ví dụ HTML"></option>-->
                                <!--												<option value="Thực hành HTML"></option>-->
                                <!--											</datalist>-->
                                <select name="cars" id="cars">
                                    <option value="volvo">Thành viên</option>
                                    <option value="saab">Nhân viên</option>
                                    <option value="mercedes">Admin</option>
                                </select>

                            </div>
                        </div>




                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="button">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Submit
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>

                        <div class="hr hr-24"></div>



                        <div class="space-24"></div>


                    </form>


                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
